body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    background-color: #ecedf3;
    color: #2c3345;
}

.form-all:before {
    top: -210px;
    background-position: top center;
}

.form-all:before {
    content: "";
    background-image: url('../../img/logodellafruta.jpg');
    display: inline-block;
    height: 200px;
    position: absolute;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 100%;
}

*, *:after, *:before {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    div.form-all {
        margin: 0 auto;
    }
}

.form-all {
    margin-top: 210px !important;
}

.form-all {
    position: relative;
}

.form-all {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
}

.form-all {
    color: #2c3345;
}

.supernova .form-all, .form-all {
    background-color: #ffffff;
}

.form-all {
    font-size: 16px;
}

.form-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 752px;
    box-shadow: 0 4px 4px rgb(87 100 126 / 21%);
    border-radius: 6px;
}

.form-all {
    font-family: "Inter", sans-serif;
}

.form-section:last-child {
    border-radius: 0 0 6px 6px;
}

ul.page-section {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0 38px;
    list-style: none;
}

ul.page-section {
    flex-wrap: wrap;
}

li {
    list-style: none;
}


div.form-header-group {
    padding: 40px 52px;
}

div.form-header-group {
    margin: 0px -38px;
}

.form-header-group {
    font-family: "Inter", sans-serif;
}

.form-header-group {
    text-align: left;
}

.form-header-group {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

.form-header-group {
    border-color: #e6e6e6;
}

.form-header-group {
    border-bottom: 1px solid;
}

@media screen and (max-width: 768px) {
    .pageLogo-mobile, ul.page-section {
        max-width: inherit;
    }
}

@media screen and (max-width: 768px) {
    ul.form-section {
        margin: 0;
        padding: 0 14px;
    }
}

@media screen and (max-width: 768px) {
    .form-section div.form-header-group.header-large {
        margin: 0 -14px;
        padding: 28px;
    }
}

.form-label-top.search-enabled, .form-label-top.category-enabled {
    padding-right: 144px;
}

.form-label {
    font-family: "Inter", sans-serif;
}

.form-label-top, .form-label-left, .form-label-right, .form-html {
    color: #2c3345;
}


.form-input-wide {
    padding-top: 10px;
    margin-top: 16px;
    position: relative;
    width: 100%;
}

div[data-wrapper-react="true"] {
    display: block;
    align-items: flex-start;
}

.filter-container {
    top: -50px;
    min-width: 320px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: flex-end;
}

.filter-container input#productSearch-input {
    height: 36px;
    border-radius: 4px;
    line-height: 32px;
    background-position: right 12px center;
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
    padding: 0 22px 0 8px;
    background-image: url('https://cdn.jotfor.ms/assets/img/builder/search_icon.png');
    background-size: 14px;
    background-repeat: no-repeat;
    min-width: auto;
    box-sizing: border-box;
    display: inline-block;
    border-color: #c3cad8;
    background-color: #fff;
    max-width: 100%;
    color: #2c3345;
}

input, select, textarea {
    outline: 0;
    margin: 0;
    text-align: left;
}

.filter-container:after {
    display: block;
    clear: both;
    content: "";
    width: 0;
}

span.form-product-item {
    display: block;
    margin: 0 -16px;
    width: calc(100% + 32px)
}

.form-product-item:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

span.form-product-item .form-product-item-detail {
    padding: 16px;
}

.form-product-item .form-product-item-detail {
    display: flex;
    flex-basis: 100%;
}

.form-product-item:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

.p_item_separator {
    margin: 8px 0 8px 35px!important;
    border-top-width: 1px;
    border-top-style: dashed;
    opacity: 0.8;
    border-top-color: rgba(195, 202, 216, .5);
}

.p_checkbox {
    margin-top: 24px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.form-product-item .p_checkbox input {
    opacity: 0;
    z-index: 3;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 2px;
    margin: 0;
    width: 18px;
    height: 20px;
}

.form-product-item input {
    padding: 0 0.625em;
}

.checked {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    left: 2px;
    box-sizing: border-box;
    border: 1px solid #2e69ff;
    background-color: #2e69ff;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-image: url("data:image/svg+xml; charset=utf-8,%3Csvg viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4l2.667 3L9 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E'");
}

.select_border {
    content: "";
    position: absolute;
    border-width: 1.2px;
    border-style: solid;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    z-index: 1;
    top: 0;
    left: 2px;
    border-color: #c3cad8;
    background-color: #fff;
}

.p_image {
    padding-top: 0;
    display: block;
    position: relative;
    padding-left: 16px;
}

.image_area {
    display: block;
    background-color: #fff;
    position: relative;
    width: 72px;
    height: 72px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    border-radius: 3px;
    display: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    top: 0;
}

.image_zoom {
    width: 0;
    height: 0;
    border: 0;
    background: rgba(1, 118, 254, 0.5);
    background-image: url('https://cdn.jotfor.ms/assets/img/payments/image_zoom.svg');
    position: absolute;
    display: none !important;
    top: 26px;
    right: 26px;
    cursor: pointer;
    background-position: center center;
    background-size: 36px;
    background-repeat: no-repeat;
    border-radius: 3px;
    top: 0;
}

.form-product-container {
    padding-bottom: 34px;
    padding-left: 16px;
    position: relative;
    width: 100%;
    display: block;
}

span[data-wrapper-react=true] {
    flex-direction: column;
}

.title_description {
    display: block;
    align-items: center;
}

.form-product-name {
    padding-bottom: 4px;
    display: block;
    padding-top: 0;
    min-height: auto;
    line-height: normal;
    align-items: center;
    padding-right: 116px;
    font-weight: 600;
}

.form-product-description {
    font-size: 14px;
    padding-top: 2px;
    padding-right: 42px;
    display: block;
    opacity: 0.6;
    padding-bottom: 4px;
    padding-left: 0px;
}

.form-product-details {
    top: 2px;
    right: 0px;
    position: absolute;
    font-size: 14px;
    margin-left: 1px;
}

.form-sub-label-container {
    position: relative;
    display: block;
    float: left;
    padding-top: 0;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 8px;
    width: auto;
    flex: 1 1 100%;
    min-width: 0;
}

.form-sub-label {
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    margin-top: 0;
    height: 34px!important;
    line-height: 34px!important;
    padding-right: 8px;
    color: #404a64;
    font-size: .75em;
    margin-left: 2px;
    word-break: break-word;
}

.select_cont {
    border-radius: 0px;
    display: inline-block;
    position: relative;
    padding-right: 0!important;
    margin-left: 1px;
}

.form-sub-label-container:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

.form-product-custom_quantity {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    font-weight: 400;
    font-size: 16px;
    min-width: 46px;
    max-width: 40px;
    padding: 0 10px;
    height: 34px !important;
    border-radius: 3px!important;
}

select.form-dropdown {
    padding-right: 24px!important;
    border-style: solid;
    border-width: 1px;
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%2357647E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: right 8px bottom 50%!important;
    
}

form-product-item select {
    height: 28px;
    min-width: auto !important;
    appearance: none !important;
    box-shadow: none !important;
    padding: 0 1.875em 0 0.625em;
    background-position: right 10px bottom 50%;
    background-size: 0.625em;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-dropdown:first-child {
    color: #8894ab;
    font-weight: 300;
}

.form-dropdown, .form-textarea, .form-textbox, .signature-wrapper {
    background-color: #fff;
    border-color: #c3cad8;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid;
    display: block;
    width: 100%;
    color: #2c3345;
}

.form-textbox {
    min-width: 100%;
    height: 2.5em;
    padding: 0 .625em;
    max-width: 100%;
}

.time-dropdown {
    max-width: 86px;
}

@media screen and (max-width: 768px) {
    .form-special-subtotal {
        right: 8px;
        bottom: 6px!important;
    }
}

.form-special-subtotal {
    right: 0;
    bottom: -10px!important;
    text-align: right;
    position: absolute;
    line-height: 19px;
    display: flex !important;
    font-weight: 500;
    margin: auto;
    font-size: 13px;
    opacity: 0.8;
}

.form-product-item:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

.form-product-container:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

.payment_footer.new_ui {
    width: 100%;
    overflow: hidden;
    padding: 16px 0 !important;
    margin-top: 12px;
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(195, 202, 216, .5);
}

.total_area:nth-child(1) {
    width: auto !important;
    float: right;
    vertical-align: middle;
    text-align: right;
    display: table;
    padding: 20px 0 0 0;
    min-width: 140px;
    box-sizing: border-box;
}

.form-payment-total {
    font-weight: 600;
    display: flex;
    padding-bottom: 6px;
    font-size: 0.875em;
    align-items: center;
}

.form-line {
    padding: 12px 10px;
    flex-wrap: wrap;
    margin: 12px 4px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    transition: background-color .15s;
    display: flex;
    align-items: flex-start;
}

.form-label.form-label-auto {
    float: none;
    text-align: left;
    width: 100%;
}

.form-label {
    font-family: "Inter", sans-serif;
}

.form-label-top, .form-label-left, .form-label-right, .form-html {
    color: #2c3345;
}

.form-label-top {
    margin-left: 2px;
    margin-bottom: 14px;
    width: 100%;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
    word-break: break-word;
    display: flex;
}

.form-required {
    color: #f23a3c;
    margin-left: 4px;
}



[data-wrapper-react=true] {
    display: flex;
    align-items: flex-start;
}

div+.form-sub-label-container {
    flex-basis: calc(50% - 14px);
    width: calc(50% - 14px);
}

.foto-fundo {
    background-image: url("../../img/fundo.jpg");
}

.allowTime-container {
    display: flex;
    align-items: flex-start;
    padding-left: 8px;
    flex-basis: calc(50% + 14px);
}

.form-input-wide[data-layout=half] {
    width: calc(50% - 14px);
}

.form-dropdown{
    min-width: 100%;
    max-width: 100%;
    height: 2.5em;

}

.form-sub-label-container+.form-sub-label-container {
    margin-left: 8px;
}

table {
    display: flex;
    width: 100%;
   flex-wrap: wrap;
}

.form-address-line-wrapper {
    display: flex;
    width: 100%;
}

.form-address-street-line {
    flex: 1 1 100%;
    display: flex;
}

.form-address-line {
    display: flex;
    flex: 1 1 50%;
}
.form-address-line-wrapper+.form-address-line-wrapper {
    margin-top: 24px;
}

li[data-type=control_fileupload] .form-label {
    word-break: break-word;
}
li[data-type=control_fileupload] .jfField {
    width: 100%;
}

li[data-type=control_fileupload] .jfUpload-container {
    display: none;
}
.page-section li[data-type=control_button] {
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.page-section li[data-type=control_button] .selectedControls+div, .page-section li[data-type=control_button]>div:first-child {
    width: 100%;
}

.page-section li[data-type=control_button]>div:first-child {
    width: 100%;
}
.form-buttons-wrapper, .form-pagebreak, .form-submit-clear-wrapper {
    border-color: #e5e7f2;
}

.form-buttons-wrapper, .form-submit-clear-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 -38px 10px;
    padding: 30px 52px;
    border-top: 1px solid;
}

.jf-form-buttons:not(.form-pagebreak-back) {
    margin-left: 10px;
}

.form-submit-print {
    border-color: #c3cad8;
    background-color: #fff;
    width: auto;
    min-width: 98px;
}

.jf-form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    color: #2c3345;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
    font-weight: 500;
}
button {
    outline: 0;
}

.submit-button {
    background-color: #18bd5b;
    border-color: #18bd5b;
    color: #fff;
    width: auto;
    min-width: 180px;
}
.form-submit-clear-wrapper {
    border-color: #e5e7f2;
    padding: 1em 52px;
   justify-content: center;
}
.form-submit-reset {
    border: 0;
    width: auto;
    height: auto;
    font-size: .875em;
    font-weight: 400;
    padding: 0;
    margin-left: 0;
    color: #57647e;
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-decoration: underline;
    background-color: #18bd5b;
    border-color: #18bd5b;
    }
    .form-submit-clear-wrapper .form-submit-reset {
        border: 0;
        width: auto;
        height: 3em;
        font-size: .875em;
        font-weight: 400;
        padding: 0;
    margin-left: 0;
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-decoration: underline;
    background-color: #18bd5b;
    border-color: #18bd5b;
    color: #fff;
    }

    